/* Body, Headers and Paragraphs ::::::::::::::::::::::::::::::::::::::::::::::*/
body {
  color: black;
  font-size:120%;
  font-family: 'Linux Libertine', sans-serif;
  background-color: whitesmoke; /*rgb(81, 143, 205, 0.2); #9966CC30; papayawhip;*/
  margin: 0px 0px 0px 0px;
}
/*Responsivity*/
@media screen and (max-width: 800px){
  body {
    font-size:120%;
  }
}

/* Navigation bar at the top of the page :::::::::::::::::::::::::::::::::::::*/
.topnav {
  overflow: hidden;
  background-color: rgb(99, 99, 99); /*#551A8B;*/
  margin: 0px;
}
/*link*/
.topnav a {
  display: block;
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding-top:    20px;
  padding-bottom: 20px;
  padding-right:  20px;
  padding-left:   20px;
}
.topnav a:hover {
  background-color: rgb(206, 206, 206);
  color: black;
}
.topnav a.active {
  background-color: rgb(194, 57, 37);
  color: white;
}

/* main-header :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.main-header {
  background-color: rgb(206, 206, 206); /*#9966CC50;*/
  text-align: left;
  min-width:  auto;
  min-height: 420px;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
  padding-top:    0.1px;
  padding-right:  10px;
  padding-bottom: 0.1px;
  padding-left:   10px;
}
/*Responsivity */
@media screen and (max-width: 800px){
  .main-header {
    background-color: rgb(206, 206, 206); /*#9966CC50;*/
    text-align: left;
    min-width:  auto;
    min-height: 420px;
    max-width: 100%;
    margin: 0px 0px 0px 0px;
    padding-top:    0.1px;
    padding-right:  0px;
    padding-bottom: 0.1px;
    padding-left:   0px;
  }
}
/*link*/
.main-header a {
  display: relative;
  color: black;  
  text-decoration: none;
  text-align: center;
}
.main-header a:link, visited{
  color: rgb(55, 98, 170);  
  text-decoration: text-underline;
  cursor: auto;
}
.main-header a:hover { /* mouse over link */
  font-weight: text-underline;
}

/* main-header img :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.main-header img {
  background-color: none;
  float: left;
  max-width: 380px;
  margin: 0px 40px 0px 70px;
  padding-top:    20px;
  padding-right:  10px;
  padding-bottom: 10px;
  padding-left:   10px;
}
/*Responsivity */
@media screen and (max-width: 800px){
    .main-header img{
      background-color: none;
      float: left;
      max-width: 100%;
      margin: 0px 0px 0px 0px;
      padding-top:    0px;
      padding-right:  0px;
      padding-bottom: 10px;
      padding-left:   0px;
    }
}

.myinfo{
  background-color: none;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
  padding-top:    0px;
  padding-right:  0px;
  padding-bottom: 0px;
  padding-left:   0px;
}
/*Responsivity */
@media screen and (max-width: 800px){
    .myinfo{
      text-align: center;
      background-color: none;
      max-width: 100%;
      margin: 0px 0px 0px 0px;
      padding-top:    0px;
      padding-right:  0px;
      padding-bottom: 10px;
      padding-left:   0px;
    }
}

/* header ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.header {
  background-color:  rgb(206, 206, 206);
  text-align:   center;
  padding-top:    10px;
  padding-right:  10px;
  padding-bottom: 10px;
  padding-left:   10px;
}

h1{
  color: rgb(194, 57, 37); /*#551A8B;*/
  }

h2{
  color: rgb(194, 57, 37);
  }

h3{
  color: rgb(194, 57, 37);
  }


div.hypjus {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  text-justify: inter-word;
}


ul li::marker {
  color: black; /*#514965;*/
  font-size: 1.5em;
}


/* container::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.container{
  max-width: 100%;
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
  padding-top:    0px;
  padding-bottom: 0px;
  padding-right:  20px;
  padding-left:   20px;
}
/*Responsivity*/
@media screen and (max-width: 800px){
  .container{
    max-width: 100%;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    padding-top:    0px;
    padding-bottom: 0px;
    padding-right:  0px;
    padding-left:   0px;
  }
}

/*link*/
.container a {
  display: relative;
  color: rgb(194, 57, 37);  
  text-align: center;
  text-decoration: none;
}
.container a:link, visited{
  color: rgb(194, 57, 37);  
  text-decoration: none;
  cursor: auto;
}
.container a:hover { /* mouse over link */
  font-weight: bold;
}

/* container2 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.container2{
  background-color: rgb(99, 99, 99);
  max-width: 100%;
  position: relative;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0 px;
  margin-right: 0 px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* container-img :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.container-img{
  max-width: 100%;
  position: relative;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 150px;
  margin-right: 150px;
  padding-top:    0px;
  padding-bottom: 20px;
  padding-right:  20px;
  padding-left:   20px;
}
/*Responsivity*/
@media screen and (max-width: 800px){
  .container-img{
    max-width: 100%;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    padding-top:    0px;
    padding-bottom: 0px;
    padding-right:  0px;
    padding-left:   0px;
  }
}
/*link*/
.container-img a {
  display: relative;
  color: rgb(194, 57, 37);  
  text-align: center;
  text-decoration: none;
}
.container-img a:link, visited{
  color: rgb(194, 57, 37);  
  text-decoration: none;
  cursor: auto;
}
.container-img a:hover { /* mouse over link */
  font-weight: bold;
}

/* Images and captions :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
img {
  border: 0px;
  outline: 0px;
  display: inline-block;
  padding: 0px;
  max-width:100%;
}

figcaption {
  color: black;
  font-style: italic;
  text-align: center;
  padding: 10px;
}

/* Style the footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
footer {
  background-color: rgb(99, 99, 99);
  padding: 40px;
  text-align: center;
  color: white;
}


