body {
  font-size:120%;
  font-family: 'Linux Libertine', sans-serif;
  background-color: #9966CC30; /*papayawhip*/
  margin: 0 auto;
}

.main-header {
  background-color: #9966CC50;
  text-align: left;
  padding: 20px;
  min-height: 400px;
}

.main-header img {
  background-color: #9966CC50;
  float: left;
  max-width: 420px;
  width:auto;
  height: auto;
  margin: 0px 30px 0px 0px;
  padding: 10px
}

.header {
  background-color: #9966CC50;
  text-align: center;
  padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #551A8B;
  margin: 0 0 0 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.hero{
  background-color: #9966CC50;
  background-image: url("img/valentinopark.jpg");
  color: white;
  padding-top: 20px;
  padding-bottom:200px;
  background-repeat: no-repeat;
  background-size: contain;
}

.container{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}


h1{
  color: #551A8B;
  }

h2{
  color: #551A8B;
  }

h3{
  color: #551A8B;
  }

.wrapper {
  margin: 0 auto ;
  width: 800px;
  background-color:none;
}

.img-backgroung {
  width: auto;
  height: 200 px;
  backgroung-image: url();
  backgroung-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
}

div.hypjus {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  text-justify: inter-word;
  padding: 10px;
}

img {
  border: 0px;
  outline: 0px;
  display: block;
  padding: 0px;
}

figure {
  border: 1px #cccccc solid;
  padding: 0px;
  margin: auto;
}

figcaption {
  color: black;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

ul li::marker {
  color: #514965;
  font-size: 1.5em;
}

a:link, a:visited {
  color: (internal value);
  text-decoration: none;
  cursor: auto;
}

/* mouse over link */
a:hover {
  color: #04AA6D;
  font-weight: bold;
}

/*
a[href^="mailto:"]
{
  color: (internal value);
}

